name: astroplugin-logseq

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
    workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write 
      id-token: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci --ignore-scripts

      - run: npm run build 

      - name: Debug OIDC
        run: |
          echo "Repository: $GITHUB_REPOSITORY"
          echo "Owner: $GITHUB_REPOSITORY_OWNER"
          echo "Workflow Ref: $GITHUB_WORKFLOW_REF"
      - run: cat package.json

      - name: Check Token
        run: |
          if [ -z "$NODE_AUTH_TOKEN" ]; then
            echo "Error: NODE_AUTH_TOKEN is empty!"
            exit 1
          else
            echo "Success: NODE_AUTH_TOKEN is found (length ${#NODE_AUTH_TOKEN})"
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
